DATABASE_URL="postgresql://...pooled-connection-placeholder.../postgres?pgbouncer=true"
DIRECT_URL="postgresql://...direct-connection-placeholder.../postgres"
RESEND_API_KEY="re_..."

RAZORPAY_KEY_ID="rzp_test_..."
RAZORPAY_KEY_SECRET="..."
RAZORPAY_WEBHOOK_SECRET="..."
